#tswcssbuttons ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

#tswcssbuttons li {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style: outside none none;
  font-family: Arial, Helvetica, sans-serif;
}

#tswcssbuttons li a {
  color: black;
  background-color: #e1d1ff;
  border: 1px outset #8e52ff;
  text-decoration: none;
  display: block;
}

#tswcssbuttons li a:hover {
  color: black;
  background-color: #c299ff;
}

#tswheader {
  font-family: "Comfortaa", "cursive", "Candara", "Segoe Print";
  text-align: left;
}

#heading {
  font-size: large;
}

#heading1 {
  font-size: large;
}

#heading3 {
  font-size: larger;
}

