#tswcssbuttons ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

#tswcssbuttons li {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style: outside none none;
  font-family: Arial, Helvetica, sans-serif;
}

#tswcssbuttons li a {
  color: black;
  background-color: #e1d1ff;
  border: 1px outset #8e52ff;
  text-decoration: none;
  display: block;
}

#tswcssbuttons li a:hover {
  color: black;
  background-color: #c299ff;
}

#tswheader {
  text-align: left;
  font-family: "Malgun Gothic";
}

#body {
  font-family: "Malgun Gothic";
}

.p {
  font-family: "Malgun Gothic";
}

#navigation {
  font-family: "Segoe Print";
}

ul:hover {
  font-family: "Segoe Print";
}

#nav1:hover {
  font-family: "Segoe Print";
}

#nav2:hover {
  font-family: "Segoe Print";
}

#nav3:hover {
  font-family: "Segoe Print";
}

#nav4 {
  font-family: "Segoe Print";
}

#nav5 {
  font-family: "Segoe Print";
}

#nav3 {
  font-family: "Segoe Print";
}

#nav2 {
  font-family: "Segoe Print";
}

#nav1 {
  font-family: "Segoe Print";
}

#head {
  font-family: "Segoe Print";
}

#n1 {
  font-family: "Segoe Print";
}

#n2 {
  font-family: "Segoe Print";
}

#n3 {
  font-family: "Segoe Print";
}

#n4 {
  font-family: "Segoe Print";
}

#n5 {
  font-family: "Segoe Print";
}

#tswcontent {
  font-family: "Segoe Print";
}

#content {
  font-family: "Segoe Print";
}

#header {
  font-family: "Malgun Gothic";
}

